<% if @bookmarks.any? %>
  <% @bookmarks.each do |bookmark| %>
    <% if current_user.id == bookmark.user_id %>
      <h1><%= bookmark.title %></h1>
      <h3><%= link_to bookmark.url_link, bookmark.url_link %></h3>
    <% end %>
  <% end %>
<% else %>
  <h1>You do not have any bookmark, <%= link_to "Create it!", new_bookmark_path %></h1>
<% end %>

